.env
.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
.*ipynb_checkpoints
*.csv
*.jpeg
*.jpeg
*.json
.ipynb_aml_checkpoints/ 
*.amltmp 
*.amltemp
env/



!**/.gitkeep

ocr_original/**
ocr_downsized/**
labelling/FR_output/**
labelling/GT_check/**
labelling/post_conversion_ocr/**
labelling/post_conversion_label/**
labelling/eval_tables/FR_extracts/**
labelling/eval_tables/GT_annotations/**
labelling/eval_tables/evaluation_combined/**
labelling/eval_tables/entity_evaluation/**

!ocr_original/**/.gitkeep
!ocr_downsized/**/.gitkeep
!labelling/FR_output/**/.gitkeep
!labelling/GT_check/**/.gitkeep
!labelling/post_conversion_ocr/**/.gitkeep
!labelling/post_conversion_label/**/.gitkeep
!labelling/eval_tables/GT_annotations/**/.gitkeep
!labelling/eval_tables/FR_extracts/**/.gitkeep
!labelling/eval_tables/evaluation_combined/**/.gitkeep
!labelling/eval_tables/entity_evaluation/**/.gitkeep



